name: Makefile CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Run make
      run: make
    - uses: actions/upload-artifact@v4
      with:
        path: 'MarantzDenon_AVR_controller@seifattar.net-v*.zip'
